.general-container {
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: movebackground 10s linear infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
}

@keyframes movebackground {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.container-form {
    z-index: 2;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity 0.75s 0s ease-in;
}

.container-form-hidde {
    opacity: 0;
    z-index: 0;
}

.container-room, .container-game {
    z-index: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity 0.75s 0s ease-in;
}

.container-room-show, .container-game-show, .container-answers-show {
    opacity: 1;
    z-index: 2;
}

.form-label-styled {
    margin-bottom: .5rem;
    border-radius: .375rem;
}

.form-control-styled {
    text-align: center;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgba(255,255,255, 0.2);
    background-clip: padding-box;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* RULETA */
.container-roulette {
    z-index: 0;
    opacity: 0;
    transition: opacity 0.75s 0s ease-in;
}

.container-roulette-show {
    z-index: 4;
    opacity: 1;
}

.arrow-container {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    height: 0.15rem;
    width: 60%;
}

.arrow-symbol {
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(65deg);
    height: 1rem;
    width: 1rem;
}

.ruleta {
    position: relative;
    z-index: 3;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    background-size: 400% 400%;
    background-attachment: fixed;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 5s ease-in-out;
    animation: movebackground 10s linear infinite;
}

/* @keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
} */

.letra {
    position: absolute;
    font-family: 'system-ui';
    top: 50%;
    left: 50%;
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    align-items: center;
    transform-origin: top left;
}

.mark::before {
    content: "L";
    font-weight: 500;
    display: inline-block;
    transform-origin: center;
    transform: scaleX(-1) rotate(315deg);
}